module.exports = {
  label: 'flux node',
  tier_eps_min: '{{ user[hostvars[inventory_hostname].user]['identity_key'] }}',
  zelflux_update: '1',
  zelcash_update: '1',
  zelbench_update: '1',
  action: '1',
  ping: '0',
  web_hook_url: '0',
  telegram_alert: '0',
  telegram_bot_token: '0',
  telegram_chat_id: '0'
}
