[Unit]
Description=Flux daemon service
After=network.target
[Service]
Type=forking
User={{ global.user }}
Group={{ global.user }}
ExecStart=/home/{{ global.user }}/start_daemon_service.sh
ExecStop=-/home/{{ global.user }}/stop_daemon_service.sh
Restart=always
RestartSec=10
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=15s
StartLimitInterval=120s
StartLimitBurst=5
[Install]
WantedBy=multi-user.target
