---
- name: Validate Sudoers
  ansible.builtin.include_tasks:
    file: common-sudoers.yml
    apply:
      tags:
        - common-sudoers
        - common
        - all
      become: true
  tags:
    - common-sudoers
    - common
    - all
    - never

- name: Update System OS
  ansible.builtin.include_tasks:
    file: common-updateOS.yml
    apply:
      tags:
        - common-updateOS
        - common
        - all
      become: true
  tags:
    - common-updateOS
    - common
    - all
    - never

- name: Install Packages
  ansible.builtin.include_tasks:
    file: common-installPackages.yml
    apply:
      tags:
        - common-installPackages
        - common
        - all
      become: true
  tags:
    - common-installPackages
    - common
    - all
    - never

# - name: Purge Packages
#   ansible.builtin.include_tasks:
#     file: common-purgePackages.yml
#     apply:
#       tags:
#         - common-purgePackages
#         - purge
#       become: true
#   tags:
#     - common-purgePackages
#     - purge
#     - never
#
- name: Gather WAN IP
  ansible.builtin.include_tasks:
    file: common-getIP.yml
    apply:
      tags:
        - daemon-conf
        - daemon
        - fluxos-install
        - fluxos
        - common-getIP
        - common
        - all
      become: true
  tags:
    - daemon-conf
    - daemon
    - fluxos-install
    - fluxos
    - common-getIP
    - common
    - all
    - never


- name: Add Tool Alias
  ansible.builtin.include_tasks:
    file: common-addAlias.yml
    apply:
      tags:
        - common-addAlias
        - common
        - all
      become: true
  tags:
    - common-addAlias
    - common
    - all
    - never

- name: Purge Node Tool Alias
  ansible.builtin.include_tasks:
    file: common-purgeAlias.yml
    apply:
      tags:
        - common-purgeAlias
        - purge
      become: true
  tags:
    - common-purgeAlias
    - purge
    - never

