module.exports = {
  initial: {
  ipaddress: '',
  zelid: '{{ flux_os.zelid }}',
  kadena: '{{ flux_os.kadena }}',
  development: {{ flux_os.development }},
  apiport: '{{ flux_os.apiport }}',
  testnet: {{ flux_os.testnet }}
  }
}
