module.exports = {
  initial: {
  ipaddress: '',
  zelid: '{{ user[hostvars[inventory_hostname].user]['zelid'] }}',
  kadena: '{{ user[hostvars[inventory_hostname].user]['kda'] }}',
  development: {{ flux_os.development }},
  apiport: '{{ hostvars[inventory_hostname].apiport }}',
  testnet: {{ flux_os.testnet }}
  }
}
