module.exports = {
  initial: {
    ipaddress: '{{ wanip }}',
    zelid: '{{ user[hostvars[inventory_hostname].user]['zelid'] }}',
    kadena: '{{ user[hostvars[inventory_hostname].user]['kda'] }}',
    development: {{ flux_os.development }},
    apiport: {{ hostvars[inventory_hostname].apiport | default(16127)}},
    testnet: {{ flux_os.testnet }}
  }
}
